$navigation-bar: black;
$header-image: #9FBC2E;
$text-background: #F7F7F5;
$image-one: #9FBC2E;
$image-two: #F2BE37;
$image-three: #E85857;
$image-four: #60B1CE;
$text-color: white;
$st-footer-designer-color:rgb(128, 134, 96);